<div id="header" *ngIf="!msTeamAccess">
  <app-product-header *ngIf="!headerFlag" [pageData]="headerData" (search)="applySearch('emit', $event)">
  </app-product-header>
</div>
<div class="left-section hide">
  <div class="first-left-width">
    <nav id="nav-sidebar">
      <!-- <app-sidebar [pageData]="sidebarActiveClass" accessModule="{{bodyClass}}"></app-sidebar> -->
    </nav>
  </div>
</div>
<div class="prob-index split-sec1">
  <div class="container-fluid">
    <div class="row col-lg-12 col-md-12 col-sm-12 landing-padding0 landing-margin0">
      <div *ngIf="!msTeamAccess" class="threads-page-filter col padding-right-class">
        <div class="text-thread-title">
            <span style="vertical-align: middle;padding-left: 8px;padding-right: 8px;">
              <img src="assets/images/dispatch/svg/dispatch.svg" onload="SVGInject(this)" /></span>
          <span style="vertical-align:middle">{{ headTitle }}</span>
          <div class="cursor thread-add-new text-center" (click)="newService();"
            [ngClass]="{'thread-add-new-ms': msTeamAccess, 'ms-thread-add-web': msTeamAccess }">
            <span><i style="font-size: 13px;margin-right: 4px;" class="pi pi-plus"></i>New</span>
          </div>
          <p-dropdown [options]="Category" [(ngModel)]="selectedCategory" placeholder="Select" [virtualScroll]="false"
            [itemSize]="1" [filter]="false" class="category-dropdown"></p-dropdown>
          <span style="margin: 0 15px;">
            <button pButton pRipple type="button" icon="pi pi-angle-left"
              (click)="changeDate('previous')" class="p-button-rounded p-button-outlined selector-btn"
              style="margin-right:5px;background-color: white;color: #b3b3b3;height: 32px;width: 32px;vertical-align: middle;"></button>
              <!-- [disabled]="disablePreviousBtn" -->
            <p-dropdown [options]="Days" [(ngModel)]="selectedDay" placeholder="Select" [virtualScroll]="false"
              [itemSize]="2" [filter]="false" class="day-dropdown">
            </p-dropdown>
            <button pButton pRipple type="button" icon="pi pi-angle-right" 
              (click)="changeDate('next')" class="p-button-rounded p-button-outlined selector-btn"
              style="margin-left:5px;background-color: white;color: #b3b3b3;height: 32px;width: 32px;vertical-align: middle;"></button>
              <!-- [disabled]="disableNextBtn" -->
          </span>
          <span style="font-size: 14px;color: #e55554;" *ngIf="!displayToday">
            <label style="margin-right: 2px;" class="mb-0" (click)="todayClicked()">TODAY</label>
            <i class="pi pi-angle-double-right" style="margin-left: 1px;vertical-align: middle;"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="center-middle-width-container">
      <div class="center-middle-width padding-common">
        <div class="thread-top-section">
          <div class="thread-top-right" [ngClass]="{ 'ms-thread-top-right': msTeamAccess }">
          </div>
        </div>
        <div class="clear"></div>
        <div class="probing-content cbt-content part-content part-content-threads-new">
          <app-dispatch-page (dispatchComponentRef)="dispatchPageRef = $event" [(displayModalChanged)]="displayModal" [(selectedDay)]="selectedDay"></app-dispatch-page>
        </div>
      </div>
    </div>
  </div>
</div>