.video-call {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 99;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.call-popup {
  width: 100%;
  max-width: 400px;
  position: relative;
  background-color: #222;
  padding: 0px;
  border-radius: 5px;
}
.cross-title {
  text-align: right;
  background-color: #111;
  padding: 5px;
}
.c-name {
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding: 10px;
}
.call-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}
.right-reject-btn,
.left-reject-btn {
  text-align: center;
  width: 100%;
}
.call-btns button {
  border: 0;
  border-radius: 10px;
  padding: 10px;
  width: 165px;
}
.left-reject-btn button {
  background: green;
  color: #fff;
}
.right-reject-btn button {
  background: red;
  color: #fff;
}
.vin-col{
  margin:0;
  padding:0;
  .vin-div{
    border:1px solid #e55554;
    border-radius: 17px;
    padding:0;
    margin:0 auto;
    text-align: center;
    width: 77px;
    height: 34px;
    display: block;
    cursor: pointer;
    img{
      display: inline-block;
      position: relative;
      top: 2px;
      right: 3px
    }
    .vin-text{
      color: #e55554;
      display: inline-block;
      font-family: Roboto-Regular;
      font-size: 15px;     
      position: relative;
      top: 4px;
      left: 3px; 
    }
  }
}
.search-width{
  .search-col{
    position: relative;
    padding-right: 8px !important;
    left: 4px;
    .search-div{
      position: absolute !important;
      top: 13px !important;
      left: 0 !important;
      width: 55% !important;
    }
  }
  .notification-class-icon-header{
    margin-right: 50px !important;
    position: relative;
    top: 2px;
  }
}
.logoedit{
  visibility: hidden;
  display: inline-block;
  position: relative;
  bottom: -16px;
  cursor: pointer;
  width: 16px;
  height: 40px;
  margin-left: 10px;
    img{
      width: 16px;
      height: 16px !important;
      vertical-align: bottom;
    }
}
.businessLogo:hover {
  .logoediticon{
    visibility: visible;
  }  
}
.businessLogo{
  img{
    &.b-logo{
      border-radius:0;
    }
  }  
}
