.img-loader > img {
  width: 64px;
  position: absolute;
  top: 45vh;
  left: 50%;
}
.fs-14 {
  font-size: 14px;
}
.vehicle-list{
  span{
    &.year-items{
      ul{
        margin-bottom: 0 !important;
      }
    }

    ul{
      li{
        margin: 0px 5px 0px !important;
      }
    }
  } 
}
.tag-label-no{
  color: #5e6980;
  font-size: 13px;
  padding-left: 25px;
}
.make-only{
  background-color: #f3e0e0;
    width: 100%;
    display: block;
    padding: 10px !important;
    margin-bottom: 20px !important;
    margin-top: -6px !important;
    border-radius: 9px;
}
.setPadding1{
  padding:4px 0 3px 0;
}